<div id="subnav">
    <%= render :partial => "subnav" %>
</div><!-- end of #subnav -->

<div id="content">
    <h1>Tạo món mới</h1>
    <table class="newOrder">
        <% form_tag :controller => :menus, :action => :create do%>
            <%= render :partial => "menus/form_info/dish" %>
        <% end %>
    </table>
</div><!-- end of #content -->
<br class="clr" />
