<% form_for :feature, :url => {:action => "make_feature"} do |f| %>
  <p>
    <%= f.label :event_link %>
    <%= f.text_field :event_link %>

    <%= f.hidden_field :f_type, :value => "event" %>
  </p>
  <%= submit_tag "Create feature" %>
<% end %>