<div class="paging">

        <%=page_entries_info collection%> | 
        <%= will_paginate collection, :container => false%>
</div>

<div class="viewNumber">
        <p>Xem: <%=view_per_page_link("orders", "list", 20)%> |
                      <%=view_per_page_link("orders", "list", 50)%> | 
                      <%=view_per_page_link("orders", "list", 100)%>
        </p>

</div>
<br class="clr" />