/* GENERAL */
* { padding:0; margin:0; }

body { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#333; background-color: lightblue}
.clr { clear:both; font-size:0; line-height:0; }
hr { border:0; border-top:1px solid #2B6096; height:0px; padding:10px 0; }


/* HEADINGS */
h1, h2, h3 { color:#2B6096; font-weight:bold; font-family:Arial, Helvetica, sans-serif; }
h1 { font-size:28px; margin:5px 0 20px 0;  }
h2 { font-size:22px; margin:5px 0 15px 0; }
h3 {}

/* TYPO */
.light { color:#777; }
.small { font-size:11px; }
.highlight { color:#f00; }
.fail { color:#f00; }

/* BUTTON */
input.btn { width:90px; }
input.actionBtn { width:150px; }

/* LIST */
li { margin-left: 15px;}

/* IMAGES */
img { border:0; }
img { behavior:url(iepngfix.htc); }
img.alignV { vertical-align:middle; }

/* TABLE */
table { border-collapse:collapse; }

/* STRUCTURE */
#topWrapper { background:#fff; height:50px; margin-bottom:5px; }
	#top { width:97%; margin:0 auto; }
		#topleft { width:270px; float:left; padding:15px 0 0 0; margin-right:30px; }
		#topright { width:600px; float:right; }
#nav ul { float:right; }
#nav ul li { display:inline; list-style:none;}
#nav ul li a { display:block; float:left; height:34px; line-height:34px; padding:0 10px; background:#eee; color:#000000; border:1px solid #eee; border-bottom:none; margin-left:2px; text-decoration:none; font-size:14px; }
#nav ul li a:hover { border-color:#ddd; background:#dfe4ee; color:#000000; }
#nav ul li.active a, #nav ul li.active a:hover { border-color:#97B7D4; background-color:#dfe4ee; color:#000000; font-weight:bold; }
body{	font-family:"Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
}

#main {
    padding: 0px 10px 0px 10px;
}

a{color:#0033CC;}
h1, h2, p, form{
	border:0px;
	margin:0px;
	padding:0px;
}

input{	font-family:"Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}
h2{	color:#666666;
	margin-bottom:20px;
	font-size:16px;
}

div.box{
	border:solid 1px #c6cfe1;
        background:#ffffff;
	color:#333333;
        margin-bottom: 15px;
}
div.box h1 {
	font-size:20px;
        background:#dfe4ee;
	color:#000000;
	padding:5px;
        margin-bottom: 10px
}
h1 a {
	font-size:12px;
        text-decoration: none;
}

h2 a {
	font-size:12px;
        text-decoration: none;
}
div.box h2 {
	font-size:16px;
        background:#dfe4ee;
	color:#000000;
	padding:5px;
        margin-bottom: 10px
}

div.box div{
    padding: 5px;
}

div.box p{padding-bottom:14px;}

div.box input .input-text{
	border:1px solid #3b6e22;
	color:#666666;
	width:180px;
}

div.box label{
	display:block;
	margin-bottom:10px;
	color:#555555;
}

div.box label span{
	display:block;
	float:left;
	padding-right:6px;
	width:70px;
	text-align:right;
	font-weight:bold;
}
.spacer{margin-left:80px;
	margin-bottom:10px;
	font-size:11px;
	color:#555555;
}
.green{
	background:url(/images/green.gif);
	padding:0px 6px;
	border:1px solid #3b6e22;
	height:24px;
	line-height:24px;
	color:#FFFFFF;
	font-size:12px;
	margin-right:10px;
	display:inline-block;
	text-decoration:none;
}
.light{
	background:url(/images/light.gif);
	padding:0px 6px;
	border:1px solid #3b6e22;
	height:24px;
	line-height:24px;
	color:#FFFFFF;
	font-size:12px;
	margin-right:10px;
	display:inline-block;
	text-decoration:none;
}

li.current {
    background:#dfe4ee; border-color:#fff; font-weight:bold; padding:1px 0; color:#000000; cursor:default;
}

#video_holder {
    float:left;

}
#info_panel {
    float:left;
}

.bigButton {
    background:url(/images/green.gif);
    padding:0px 6px;
    border:1px solid #3b6e22;
    height:24px;
    line-height:24px;
    color:#FFFFFF;
    font-size:12px;
    margin-right:10px;
    display:inline-block;
    text-decoration:none;
}

#see_all {
    float:right;
    margin-top: -12px;
}
.event_table {
    float:left;
    margin-left: 10px;
}
.event_table tr td {
    text-align: center;
}
.friend {
    text-align: center;
}
.page_link {
    text-align: right;
}

#next_move_table td {
    padding: 5px;
}
.centerView {
    vertical-align: middle;
    text-align: center;
}

.boxLeft {
    float:left;
    width: 49%;
}
.boxRight {
    float: right;
    width: 49%;
}

#partners {
    margin: 0px 5px 5px 5px;
}

.middle {
    text-align: center;
}

.friend {
    float:left;
    margin-left: 5px;
}
/* opacity:0.7; filter:alpha(opacity=50); */