/* GENERAL */
* { padding:0; margin:0; }

.clr { clear:both; font-size:0; line-height:0; }
body{
    font-family:"Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#000000;
}

/* LIST */
li { margin-left: 15px;}

/* IMAGES */
img { border:0; }
img { behavior:url(iepngfix.htc); }
img.alignV { vertical-align:middle; }

/* TABLE */
table { border-collapse:collapse; }
table td {padding: 5px;}

/* STRUCTURE */
#topWrapper {
    background:url(/images/banner_1.jpg) no-repeat;
    height: 100px;
    width: 749px;
}
#topright { width:600px; padding:60px 0px 10px 400px; margin-right: 5px}
#nav ul li {
    display:inline; list-style:none;
}
#nav ul li a { 
    display:block; float:left; height:20px; line-height:20px;
    background:#e2e0e0; color:#000000; border-right:1px solid #cfcfcf;
    border-bottom:1px solid #cfcfcf; text-decoration:none; font-size:12px;
    padding:5px 17px 5px 17px;
}
#nav ul li a:hover { background:#dfe4ee; color:#000000; }
#nav ul li.active a, #nav ul li.active a:hover { 
    color:#000000;
    background: #abada2;
}

.main {
    width: 737px;
    padding:5px;
    border: 1px solid #cfcfcf;
}

a{color:#0033CC;}
h1, h2, p, form{
	border:0px;
	margin:0px;
	padding:0px;
}

input{	font-family:"Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}
h2{	color:#666666;
	margin-bottom:20px;
	font-size:16px;
}

div.box{
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border:solid 1px #c2c2c2;
    background: #f2f3f3;
    color:#333333;
    padding: 5px;
    margin: 8px
}
div.box h1 {
	font-size:30px;
	color:#000000;
	padding:5px;
        margin-bottom: 10px
}
h1 a {
	font-size:12px;
        text-decoration: none;
}

h2 a {
	font-size:12px;
        text-decoration: none;
}
div.box h2 {
	font-size:16px;
        background:#dfe4ee;
	color:#000000;
	padding:5px;
        margin-bottom: 10px
}

div.box div{
    padding: 5px;
}

div.box a, div.box a:hover, div.box a:visited {
    color: #3784b1;
}

div.box p{padding-bottom:14px;}

div.box input .input-text{
	border:1px solid #3b6e22;
	color:#666666;
	width:180px;
}

div.box label{
	color:#555555;
}

div.box label span{
	float:left;
	padding-right:6px;
	width:70px;
	text-align:right;
	font-weight:bold;
}

.top_div {
    background-color: #e2e0e0;
}


.spacer{margin-left:80px;
	margin-bottom:10px;
	font-size:11px;
	color:#555555;
}
.green{
	background:url(/images/green.gif);
	padding:0px 6px;
	border:1px solid #3b6e22;
	height:24px;
	line-height:24px;
	color:#FFFFFF;
	font-size:12px;
	margin-right:10px;
	display:inline-block;
	text-decoration:none;
}
.light{
	background:url(/images/light.gif);
	padding:0px 6px;
	border:1px solid #3b6e22;
	height:24px;
	line-height:24px;
	color:#FFFFFF;
	font-size:12px;
	margin-right:10px;
	display:inline-block;
	text-decoration:none;
}

.intro {
    background:url(/images/top_intro_1.jpg) no-repeat;
    height:310px;
    margin: 6px;
}

div.get_ticket {
    height:50px;
    width:205px;
    padding: 185px 0 0 492px;
}

div.learn_more {
    height:50px;
    width:205px;
    padding-left: 532px;
}

.seeAll {
    float:right;
    padding-top:10px;
}
.event_table {
    float:left;
    margin-left: 10px;
}
.event_table tr td {
    padding:5px;
}

.event_link {
    font-size: 14px;
}

.friend {
    width: 200px;
    margin: 5px;
}
.page_link {
    text-align: right;
}

#next_move_table td {
    padding: 2px 20px 2px 20px;
}
.centerView {
    vertical-align: middle;
    text-align: center;
}

.boxLeft {
    float:left;
    width: 49%;
}
.boxRight {
    float: right;
    width: 49%;
}

#partners {
    margin: 0px 5px 5px 5px;
}

.middle {
    text-align: center;
}

.friend {
    float:left;
    margin-left: 5px;
}

.no_decor {
    text-decoration: none;
}

table.ticket_table td{
    padding: 10px;
}

.wide {
    width:150px;
}
/* opacity:0.7; filter:alpha(opacity=50); */