<ul>
        <li class="<%= @sub_nav == "list" ? "active" : ""%>">
            <%= link_to "Tất cả đơn hàng", :controller => :orders, :action => :list%>
        </li>
        <li class="<%= @sub_nav == "new" ? "active" : ""%>">
            <%= link_to "Tạo đơn hàng mới", :controller => :orders, :action => :new%>
        </li>
</ul>