<div id="subnav">
    <%= render :partial => "subnav"%>
</div><!-- end of #subnav -->
		
<div id="content">
      <h1>Chi tiết đơn hàng</h1>

      <%= render :partial => "edit_form"%>
</div><!-- end of #content -->
<br class="clr" />