<p class="pb5"><a href="#" onclick="toggleSelectAll('listDish', 'check')">Chọn tất cả</a> | <a href="#" onclick="toggleSelectAll('listDish', 'uncheck')">Bỏ tất cả</a></p>
			
<p class="pb20">
<%= submit_tag "Xóa", :class => "actionBtn" %>
</p>
