<tr>
        <td class="col1">&nbsp;</td>
        <td class="col2">
            <%= submit_tag "OK", :name => "okBtn", :id => "okBtn", :class => "btn"%>
            <%= submit_tag "Cancel", :name => "cancelBtn", :id => "cancelBtn", :class => "btn"%>
        </td>
</tr>