<table>
  <tr>
    <td><%= link_to image_tag(event.pic), event_link(event) %></td>
    <td>
      <%= link_to event.name, event_link(event) %><br/>
      <%= event.location %><br/>
      <%= display_time(event.start_time.to_s) %><%= " - " + display_time(event.end_time.to_s) unless event.end_time.blank? %>
    </td>
  </tr>
</table>