<div>
  <%= render :partial => "event", :collection => @featured_events %>
  <br class="clr"/>
</div>
<div class="page_link">
  <%= will_paginate @features, :renderer => 'RemoteLinkRenderer', 
    :remote => {:update => "events_panel"}, :param_name => "event_page" %>
</div>