<ul class="featured-event-list">
  <%= render :partial => "event", :collection => @featured_events %>
</ul>
<br class="clr"/>

<div class="page_link">
  <%= will_paginate @features, :renderer => 'RemoteLinkRenderer', 
    :remote => {:update => "events_panel"}, :param_name => "event_page" %>
</div>