<div id="rsvp">
  <table class="ticket">
    <tr>
      <td width="80%">
        <p>
          Name: <%= @ticket_rsvp.name %>
        </p>
        <p>
          Email: <%= @ticket_rsvp.email %>
        </p>
        <p>
          Phone: <%= @ticket_rsvp.phone %>
        </p>
      </td>
      <td class="centerView">
        <input type="button" onclick="<%= status_publisher %>" value="Post to wall" class="green" />
      </td>
    </tr>
  </table>
</div>
