<div id="rsvp">
  <p>
    Name: <%= @ticket_rsvp.name %>
  </p>
  <p>
    Email: <%= @ticket_rsvp.email %>
  </p>
  <p>
    Phone: <%= @ticket_rsvp.phone %>
  </p>
</div>

<input type="button" onclick="<%= status_publisher %>" value="Post to wall" />