<div id="giveaway_info">
  We give out RM50000 for those who help promoting Youth'10 to other youths.
  <ul>
    <li>
      RM5000 for 20 largest youth gatherings.
    </li>
    <li>
      RM40000 worth of products and cash on other contests.
    </li>
  </ul>

  <%= link_to "Join Youth gathering", url_for(:action => "gathering"), :class => "bigButton" %>

  <fb:serverfbml style="width: 650px;">
      <fb:fbml>
          <fb:request-form
                  action="<%= url_for(:controller => "youth", :action => "landing") %>"
                  method="POST"
                  invite="true"
                  type="My App"
                  content="Try out my app!
                          <fb:req-choice url='http://apps.facebook.com/youthasia/'
                          label='Checkout Youth 10!!'
                          />
                  " >
                  <fb:multi-friend-selector
                          showborder="false"
                          actiontext="Invite your friends to try My App."
                          exclude_ids="<%= @exclude_friend_ids.join(",") %>"
                          rows="4"
                  />
          </fb:request-form>
      </fb:fbml>
  </fb:serverfbml>

  <fb:login-button></fb:login-button>
</div>