<div id="giveaway_info">
  We give out RM50000 for those who help promoting Youth'10 to other youths.
  <ul>
    <li>
      RM5000 for 20 largest youth gatherings.
    </li>
    <li>
      RM40000 worth of products and cash on other contests.
    </li>
  </ul>

  <%= link_to "Join Youth gathering", url_for(:action => "gathering"), :class => "bigButton" %>
</div>

<fb:serverfbml>
<script type="text/fbml">
    <fb:fbml>
      <fb:request-form action="<%= SERVER_URL + url_for(:action => "index") %>"
          method="POST" invite="true" type="Youth Asia"
          content="This network is the best place on Facebook for viewing, sharing and giving friends the highest quality stuff.  Join me on this network! <fb:req-choice url='<%= SERVER_URL + url_for(:action => "landing", :from_ref => @uid) %>' label='Check out Youth 10!' />"
          exclude_ids="<%= @exclude_friends.join(',') %>" >
        <fb:multi-friend-selector showborder="false" actiontext="Invite your friends to Youth '10.">
      </fb:request-form>
    </fb:fbml>
</script>
</fb:serverfbml> 