<%= link_to "Event list", url_for(:action => "event_list") %>
|
<%= link_to "Featured event list", url_for(:action => "featured_event_list") %>
|
<%= link_to "Gathering list", url_for(:action => "gathering_list") %>
|
<%= link_to "Featured gathering list", url_for(:action => "featured_gathering_list") %>
|
<%= link_to "Volunteer list", url_for(:action => "volunteer_list") %>