<ul>
  <li><%= link_to "Home", :controller => "youth", :action => "index" %></li>
  <li><%= link_to "Event list", :controller => "admin", :action => "event_list" %></li>
  <li><%= link_to "Featured event list", :controller => "admin", :action => "featured_event_list" %></li>
  <li><%= link_to "Gathering list", :controller => "admin", :action => "gathering_list" %></li>
  <li><%= link_to "Featured gathering list", :controller => "admin", :action => "featured_gathering_list" %></li>
  <li><%= link_to "Volunteer list", :controller => "admin", :action => "volunteer_list" %></li>
  <li><%= link_to "CMS", :controller => "admin", :action => "cms" %></li>
</ul>