<%= link_to "Blog", "http://blog.youthsays.com/", :target => "_blank" %>
|
<%= link_to "Media" %>
|
<%= link_to "News" %>
|
<%= link_to "Help", "http://blog.youthsays.com/category/faq/", :target => "_blank" %>
|
<%= link_to "Contact us" %>
<%# if is_admin? %>
  <%#*|%>
  <%#= link_to "Admin", :controller => "admin" %>
<%# end %>