<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">

<%= render :partial => "layouts/header" %>
<body>
  <script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US" type="text/javascript"></script>
  <script type="text/javascript" src="http://static.ak.connect.facebook.com/connect.php/en_US/js/Api/CanvasUtil/Connect/XFBML"></script>
  <div id="topWrapper">
    <div id="top">
        <div id="topright">
            <%= render :partial => "layouts/top_nav" %>
        </div><!-- end of #topright -->
        <br class="clr" />
    </div><!-- end of #top -->
  </div><!-- end of #topWrapper -->

  <div id="main">
    <div id="nav">
        <%= render :partial => "layouts/admin_nav" %>
    </div><!-- end of #nav -->
    <br class="clr" />
    <div class="main">
      <%= yield %>
    </div>
    
  </div><!-- end of #main -->
  <%= render :partial => "layouts/footer" %>
</body>
</html>