<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
<%= javascript_include_tag :defaults%>
<div id="topWrapper">
  <div id="top">
      <div id="topleft">
        <a href="#">Logo goes here</a>
      </div><!-- end of #logo -->
      <div id="topright">
          <%= render :partial => "layouts/top_nav" %>
      </div><!-- end of #topright -->
      <br class="clr" />
      <div id="nav">
          <%= render :partial => "layouts/nav"%>
      </div><!-- end of #nav -->
  </div><!-- end of #top -->
</div><!-- end of #topWrapper -->

<div id="main">
        <%= yield%>
</div><!-- end of #main -->


<div id="footer">
      Copyright &copy; 2010 Youth Asia. All rights reserved.
</div><!-- end of #footer -->